h1
{
	margin: 1px;
	font-size: 22px;
}

button
{
	margin: 1px;
	margin-left: 103px;
}

input
{
	margin: 4px;
	margin-left: 1px;
}

textarea
{
	resize: none;
}

.nameClass
{
	width: 150px
}

.noteClass
{
	width: 250px;
	height: 100px;
}

.outputBox
{
	margin-top: 2px;
	border-color: rgb(128,128,128);
	border-style: inset;
	width: 250px;
}

.counter
{
	margin-left: 2px;
	margin-bottom: 1px;
}

div
{
	border-style: solid;
	border-color: rgb(128,128,255);
	border-style: outset;
}

.importantItem
{
	border-color: rgb(255,0,0);
}
.importantText
{
	font-weight: bold;
}

.noteName
{
	margin: 1px;
}

.noteTime
{
	margin: 1px;
	margin-left: 5px;
	color: rgb(128,128,128);
	font-size: 9px;
}

.noteBody
{
	margin: 1px;
}